@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jar Creations</h1>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color:ThreeDFace;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        img {
            height: 500px;
            width: 500px;
            border-radius: 10px;
          
        }
 
    </style>
</head>

<body>
    <header>


        <section class="hero">
            <div class="container">
                <h1>Welcome to Jar Creations</h1>
                <p>Your Imagination, Our Canvas</p>
                <p>
                    "At 'Jar Creations,' we believe in the boundless potential of your imagination.
                    Our mission is to transform your ideas into tangible works of art, where every stroke of creativity,
                    every pixel of design, and every brush of innovation finds its place on our canvas.
                </p>
            </div>
        </section>
    </header>

    <section id="services" class="content">
        <div class="container">
            <h2>Our Services</h2>
            <img src="~/NewFolder/img1.jpg" alt="Italian Trulli">

            <ul>
                <li>Custom Artwork</li>
                <li>Design Projects</li>
                <li>Personalized Gifts</li>
            </ul>
            <img src="~/NewFolder/img2.jpg" alt="Italian Trulli">
        </div>
    </section>

    <section id="contact" class="content">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have questions or want to discuss a project? Get in touch with us today.</p>
            <div class="container">
                <ul>
                    <li>Email : lakhibrar04@gmail.com</li>
                    <li>Phone : 416-858-2248</li>
                    <li>Ig : lakhveerbrar_13</li>
                </ul>
            </div>

        </div>
    </section>


</body>
</html>
