@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: skyblue;
        }

        p {
            color: black;
            text-align: justify;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', "sans-serif"
        }
    </style>
</head>
<body>
    <p>
        1. Information We Collect:
        At "Jar Creations," we gather two main types of information.
        The first is personal data, which includes details like your name and email address. 
        This information is collected when you interact with our website, 
        subscribe to our newsletter, or contact us through our contact form. 
        The second type is non-personal information, which includes data such as your browser type, IP address, and cookies. 
        These non-personal details help us enhance your website experience and improve our services.</p>

        <p>2. How We Use Your Information:
        We take your privacy seriously and use the information we collect for specific purposes. 
        When you reach out to us, we utilize your data to respond to your inquiries and provide customer support. 
        If you've subscribed to our newsletter, we may send you updates and promotional materials related to our services. 
        Your data also plays a vital role in our continuous efforts to enhance our website and services, 
        making your online experience with us extraordinary. 
        Our commitment to quality and attention to detail ensures that your information is treated with the utmost care and respect, 
        aligning with our dedication to innovation and artistry. Your privacy is a priority, and we use your data only for purposes that uphold your best interests.
    </p>
</body>
</html>